/* 圆角 */
/* 阴影 */
/* 过渡效果：linear, ease-in */
/* 转换/旋转 */
/* 颜色渐变 */
/* 镜像效果 */
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cr {
  clear: both;
}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
