<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<sectionGroup name="NPiculet">
			<section name="logProvider" requirePermission="false" type="NPiculet.Log.LogProviderSection" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
			<section name="plugins" type="NPiculet.Core.PluginConfigSection" allowLocation="true" requirePermission="false" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
		</sectionGroup>
	</configSections>
	<NPiculet>
		<logProvider defaultProvider="FileLogProvider">
			<providers>
				<add name="XmlLogProvider" type="NPiculet.Log.XmlLogProvider" address="~/logs" description="基于XML的日志存储提供器" />
				<add name="FileLogProvider" type="NPiculet.Log.FileLogProvider" address="~/logs" description="基于文件的日志存储提供器" />
			</providers>
		</logProvider>
		<!-- 定义模块描述器 -->
		<plugins>
			<pluginConfig>
				<add name="Exception" type="NPiculet.Logic.Sys.ExceptionDescriptor" description="异常管理" />
				<add name="Auth" type="NPiculet.Logic.Sys.AuthDescriptor" description="用户管理" />
				<add name="Dict" type="NPiculet.Logic.Dict.DictDescriptor" description="字典表管理" />
				<add name="Logger" type="NPiculet.Logic.Sys.LoggerDescriptor" description="日志管理" />
			</pluginConfig>
		</plugins>
	</NPiculet>
	<appSettings>
		<!-- 默认数据库连接 -->
		<add key="DefaultConnectionKey" value="NConnString" />
		<!-- 需要记录的日志类型，使用|号分隔，默认“Info|Error|Debug” -->
		<add key="LogType" value="Info|Error|Debug" />
	</appSettings>
	<connectionStrings>
		<add name="NConnString" connectionString="server=localhost;port=3306;database=aaa;uid=root;pwd=aaa;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<httpRuntime requestValidationMode="2.0" maxRequestLength="102400" executionTimeout="36000" />
		<pages validateRequest="false">
		</pages>
		<customErrors mode="Off" />
		<httpHandlers>
			<add path="api/*/*" verb="*" type="NPiculet.WebAPI.RouteHttpHandler, NPiculet.Pack" validate="true" />
		</httpHandlers>
	</system.web>
	<system.webServer>
		<handlers>
			<add name="NPiculetWebAPI" verb="*" path="api/*/*" type="NPiculet.WebAPI.RouteHttpHandler" preCondition="integratedMode" />
		</handlers>
	</system.webServer>
</configuration>